<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="container">

    <form method="post" action="/login">
      <h1>LOGIN</h1>
      <input type="email" name="email" placeholder="Your Email">
      <input type="password" name="password" id="" placeholder="Your password">
      <p><%= locals.message %></p>
      <button type="submit"> LOGIN</button>

    </form>
  </div>

</body>

</html>